/* chat-css.css 
 *
 * Nick Faccenda, Scott Jeffery, Ryan Hidson, Jake Kershaw
 *
 * template.css v1.0  04/02/2017
 */

.title{
	font-size:80px;
	width:47vw;
	margin:auto;
	margin-bottom:20px;
}

.container{
	border-style:solid;
	border-width:2px;	
	width:75vw;
	margin:auto;
}

.left{
	width:10vw;
	height:400px;
	float:left;	
	background-color: #F8D8D8;
}

.center{
	width:55vw;
	height:400px;
	float:left;
	background-color: #BCCCF7;
}

.right{
	width: 10vw;
	height:400px;
	float:left;
	background-color: #B9E5B5;
}



#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
	background-color: #0ae0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.groupContainer
{
	height: 350px;
	width:90%;
	margin:auto;
	overflow-y: scroll;
	margin-bottom: 20px;
	
}

a:link, a:visited, a:hover, a:active{
	color:black;
	text-decoration:none;	
}




.group{
	background-color:lightblue;
	border-radius: 25px;
	border: 2px solid #FF0E12;
	padding: 20px; 
	width: 90%;
	height: 100px; 
	margin:auto;
	margin-bottom:10px;
}

.groupName{
	font-size:60px;
	font-weight:bold;
	border-bottom: 2px solid black;
}

.groupDesc{
	font-size:30px;	
}

.userImage{
	background-color:white;
	background-image:url('defaultIcon.svg');
	border: 2px solid black;
	border-radius:50%;
	height:200px;
	width:200px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;	
}

.navButton{
	width:100%;
	height:35px;
	background-color: #330000;
	color: #FFCC00;
	font: Arial Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-weight:bold;	
}

.navButton:hover{
	width:100%;
	height:35px;
	background-color: #330000;
	color: #FFCC00;
	font: Arial Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-weight:bold;	
}
